#python
__pycache__/
*.pyc
.python-version

# dist
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg


# editor & testing
.vscode/
.mypy_cache/
test/**
.coverage

# exclude legacy code
dnaFit/legacy/**